---
http_interactions:
- request:
    method: head
    uri: https://upload.wikimedia.org/wikipedia/en/thumb/not_here.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/html; charset=UTF-8
      accept-ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-UA-Platform-Version
      x-client-ip:
      - 143.244.47.100
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://upload.wikimedia.org/wikipedia/en/thumb/not_here.png
  recorded_at: Mon, 11 Jul 2022 17:43:16 GMT
- request:
    method: head
    uri: https://upload.wikimedia.org/wikipedia/en/thumb/fooooof.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/html; charset=UTF-8
      accept-ch:
      - Sec-CH-UA-Arch,Sec-CH-UA-Bitness,Sec-CH-UA-Full-Version-List,Sec-CH-UA-Model,Sec-CH-UA-Platform-Version
      x-client-ip:
      - 143.244.47.100
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://upload.wikimedia.org/wikipedia/en/thumb/fooooof.png
  recorded_at: Mon, 11 Jul 2022 17:43:16 GMT
[...]
- request:
    method: head
    uri: https://help.github.com/changing-author-info/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.github.com/changing-author-info/
  recorded_at: Mon, 11 Jul 2022 17:43:16 GMT
- request:
    method: get
    uri: https://help.github.com/changing-author-info/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: ''
    headers:
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'><html
        xmlns='http://www.w3.org/1999/xhtml'><head><meta content='text/html; charset=utf-8'
        http-equiv='content-type'/><style type='text/css'>body { font-family:Arial;
        margin-left:40px; }img  { border:0 none; }#content { margin-left: auto; margin-right:
        auto }#message h2 { font-size: 20px; font-weight: normal; color: #000000;
        margin: 34px 0px 0px 0px }#message p  { font-size: 13px; color: #000000; margin:
        7px 0px 0px 0px }#errorref { font-size: 11px; color: #737373; margin-top:
        41px }</style><title>Microsoft</title></head><body><div id='content'><div
        id='message'><h2>The request is blocked.</h2></div><div id='errorref'><span>0NGHMYgAAAAAPy8k7jUyTTpfdsVSD6LkrQVRBRURHRTEyMDgANTk2ZDc4YTItY2E1Zi00NzlkLWJjZGMtMDgzNTgzMzE3NGIy</span></div></div></body></html>"
      effective_url: https://docs.github.com/changing-author-info/
  recorded_at: Mon, 11 Jul 2022 17:43:16 GMT
recorded_with: VCR 2.9.3
