language: ruby
rvm:
  - 2.4.3
  - 2.5.0
  - 2.6.0
  - 2.7.0
  - ruby-head

git:
  depth: 10

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

cache: bundler

matrix:
  allow_failures:
    - rvm: ruby-head
  include:
    - script: bundle exec rake rubocop
      rvm: 2.7.0
