---
http_interactions:
- request:
    method: head
    uri: https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/javascript; charset=utf-8
      etag:
      - W/"5eb03d8b-12e38"
      last-modified:
      - Mon, 04 May 2020 16:06:35 GMT
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/javascript; charset=utf-8
      cdn-pullzone:
      - '252412'
      cdn-uid:
      - b1941f61-b576-4f40-80de-5677acb38f74
      cdn-requestcountrycode:
      - US
      etag:
      - W/"5869c96cc8f19086aee625d670d741f9"
      last-modified:
      - Mon, 25 Jan 2021 22:04:00 GMT
      cdn-proxyver:
      - '1.02'
      cdn-requestpullsuccess:
      - 'True'
      cdn-requestpullcode:
      - '200'
      cdn-cachedat:
      - 03/12/2022 18:02:15
      cdn-edgestorageid:
      - '871'
      cdn-status:
      - '200'
      cdn-requestid:
      - d29955e88c31f99d00a69293254d6853
      cdn-cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/javascript; charset=utf-8
      etag:
      - W/"5eb03ec4-1499c"
      last-modified:
      - Mon, 04 May 2020 16:11:48 GMT
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://avatars.githubusercontent.com/u/83318378?v=4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - image/jpeg
      etag:
      - '"152794549f0aafb51b680a8b0fed87d480257919ceb9b92b5b5c47b8a9a0cd14"'
      last-modified:
      - Tue, 01 Mar 2022 00:31:59 GMT
      x-fastly-request-id:
      - c12f1fdc85eece7daa75df469f72f161eef599da
      source-age:
      - '124483'
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://avatars.githubusercontent.com/u/83318378?v=4
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
[...]
- request:
    method: head
    uri: https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/javascript; charset=utf-8
      etag:
      - W/"5eb03ec1-514"
      last-modified:
      - Mon, 04 May 2020 16:11:45 GMT
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
[...]
- request:
    method: head
    uri: https://www.linkedin.com/company/netapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 999
      message: ''
    headers:
      content-type:
      - text/html
      x-li-fabric:
      - prod-lva1
      x-li-pop:
      - afd-prod-lva1-x
      x-li-proto:
      - http/2
      x-li-uuid:
      - AAX14Vw8CcPvmGEuCFHpBg==
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.linkedin.com/company/netapp
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://twitter.com/netapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      perf:
      - '7626143928'
      expiry:
      - Tue, 31 Mar 1981 05:00:00 GMT
      content-type:
      - text/html; charset=utf-8
      last-modified:
      - Thu, 02 Mar 2023 02:12:27 GMT
      x-transaction-id:
      - 1c7e524f811ea444
      x-response-time:
      - '78'
      x-connection-hash:
      - da29b7d4c98f8d2e19ef4662dc165d265ceff2e31aa75e858b62b8ecfab5510b
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://twitter.com/netapp
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://www.netapp.com/company/legal/privacy-policy/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/company/legal/privacy-policy/
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://www.netapp.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://blog.netapp.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      mpulse_origin_time:
      - '1509'
      mpulse_cdn_cache:
      - MISS
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/blog/
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: get
    uri: https://www.linkedin.com/company/netapp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 999
      message: ''
    headers:
      content-type:
      - text/html
      x-li-fabric:
      - prod-ltx1
      x-li-pop:
      - afd-prod-ltx1-x
      x-li-proto:
      - http/2
      x-li-uuid:
      - AAX14Vw8/zJRIPO3g51i7A==
    body:
      encoding: ASCII-8BIT
      string: |
        <html><head>
        <script type="text/javascript">
        window.onload = function() {
          // Parse the tracking code from cookies.
          var trk = "bf";
          var trkInfo = "bf";
          var cookies = document.cookie.split("; ");
          for (var i = 0; i < cookies.length; ++i) {
            if ((cookies[i].indexOf("trkCode=") == 0) && (cookies[i].length > 8)) {
              trk = cookies[i].substring(8);
            }
            else if ((cookies[i].indexOf("trkInfo=") == 0) && (cookies[i].length > [...]
- request:
    method: head
    uri: https://www.netapp.com/company/contact-us/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/company/contact-us/
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://www.netapp.com/company/legal/terms-of-use/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/company/legal/terms-of-use/
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://github.com/NetAppDocs/storagegrid-116/issues/new?body=Page:%20%5BConfigure%20load%20balancer%20endpoints%5D(https://docs.netapp.com/us-en/storagegrid-116/admin/configuring-load-balancer-endpoints.html)&template=public-issue-template.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"79c03e0832d359650290b6194a0d9122"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2FNetAppDocs%2Fstoragegrid-116%2Fissues%2Fnew%3Fbody%3DPage%3A%2520%255BConfigure%2520load%2520balancer%2520endpoints%255D%28https%3A%2F%2Fdocs.netapp.com%2Fus-en%2Fstoragegrid-116%2Fadmin%2Fconfiguring-load-balancer-endpoints.html%29%26template%3Dpublic-issue-template.md
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://blog.netapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      mpulse_origin_time:
      - '1509'
      mpulse_cdn_cache:
      - MISS
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/blog/
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://docs.netapp.com/us-en/contribute/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-proxy-cache:
      - MISS
      X-Fastly-Request-ID:
      - 3a9500fea3b8c894f0915b24346080b4e3c68fe4
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.netapp.com/us-en/contribute/
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://docs.netapp.com/ja-jp/storagegrid-116/admin/configuring-load-balancer-endpoints.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-proxy-cache:
      - MISS
      X-Fastly-Request-ID:
      - c851761c699d74b2f157d746986464cb6e2f95fe
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.netapp.com/ja-jp/storagegrid-116/admin/configuring-load-balancer-endpoints.html
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://docs.netapp.com/ko-kr/storagegrid-116/admin/configuring-load-balancer-endpoints.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-proxy-cache:
      - MISS
      X-Fastly-Request-ID:
      - 1c7dab971bde6986ff2a098ab38e7ba20afacf2a
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.netapp.com/ko-kr/storagegrid-116/admin/configuring-load-balancer-endpoints.html
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://docs.netapp.com/zh-cn/storagegrid-116/admin/configuring-load-balancer-endpoints.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-proxy-cache:
      - MISS
      X-Fastly-Request-ID:
      - a573e8d553ac758fa654b44c28793333a17af022
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.netapp.com/zh-cn/storagegrid-116/admin/configuring-load-balancer-endpoints.html
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://docs.netapp.com/zh-tw/storagegrid-116/admin/configuring-load-balancer-endpoints.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-proxy-cache:
      - MISS
      X-Fastly-Request-ID:
      - 84cba67f641b8345ca0329eb04273d19ea4ccf3c
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.netapp.com/zh-tw/storagegrid-116/admin/configuring-load-balancer-endpoints.html
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://docs.netapp.com/de-de/storagegrid-116/admin/configuring-load-balancer-endpoints.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-proxy-cache:
      - MISS
      X-Fastly-Request-ID:
      - dc795988830dd4ad4b3f47e700c7ebca8db3da67
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.netapp.com/de-de/storagegrid-116/admin/configuring-load-balancer-endpoints.html
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://docs.netapp.com/es-es/storagegrid-116/admin/configuring-load-balancer-endpoints.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-proxy-cache:
      - MISS
      X-Fastly-Request-ID:
      - 649547bf65e01de1729d68da60a1b0959ac94035
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.netapp.com/es-es/storagegrid-116/admin/configuring-load-balancer-endpoints.html
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://docs.netapp.com/fr-fr/storagegrid-116/admin/configuring-load-balancer-endpoints.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-proxy-cache:
      - MISS
      X-Fastly-Request-ID:
      - 4415c0e4127f64d199390982c501448cac5a5bdd
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.netapp.com/fr-fr/storagegrid-116/admin/configuring-load-balancer-endpoints.html
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://docs.netapp.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/support-and-training/documentation/
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://www.facebook.com/NetApp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      accept-ch-lifetime:
      - '4838400'
      accept-ch:
      - sec-ch-prefers-color-scheme
      document-policy:
      - force-load-at-top
      content-type:
      - text/html; charset="utf-8"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.facebook.com/NetApp
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://www.youtube.com/user/NetAppTV
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.youtube.com/user/NetAppTV
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://docs.netapp.com/us-en/storagegrid-115/admin/configuring-load-balancer-endpoints.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      x-proxy-cache:
      - MISS
      X-Fastly-Request-ID:
      - f85f757977fc46f5506fbf48e4237d98c240ad0e
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.netapp.com/us-en/storagegrid-115/admin/configuring-load-balancer-endpoints.html
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://www.netapp.com/support-and-training/netapp-university/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/support-and-training/netapp-learning-services/
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://github.com/netapp-madkat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"60676f6b10b27ff39e7d3627bc88ffe9"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/netapp-madkat
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://github.com/netapp-perveilerk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"e0cac19bd8072d2941a3d253fc97b06d"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/netapp-perveilerk
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://github.com/NetAppDocs/storagegrid-116/blob/main/admin/configuring-load-balancer-endpoints.adoc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"ba096f8c3c04826245cc167afeb3b7d6"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/NetAppDocs/storagegrid-116/blob/main/admin/configuring-load-balancer-endpoints.adoc
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://www.slideshare.net/NetApp
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-request-uuid:
      - ebd788a2e3d275b12a18f64b9d412359
      x-ss-make-cacheable:
      - 'true'
      x-bench-route:
      - profile/index
      etag:
      - W/"24673b46ca35d946fe9c7d1a29d3f235"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.slideshare.net/NetApp
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
- request:
    method: head
    uri: https://github.com/netapp-lhalbert
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"eab9e534ab92a9c1b8883fa9e8e0d61f"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/netapp-lhalbert
  recorded_at: Thu, 02 Mar 2023 02:12:27 GMT
[...]
- request:
    method: head
    uri: https://www.netapp.com/company/legal/copyright/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/company/legal/copyright/
  recorded_at: Thu, 02 Mar 2023 02:12:28 GMT
- request:
    method: head
    uri: https://www.netapp.com/products-a-z/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/products-a-z/
  recorded_at: Thu, 02 Mar 2023 02:12:29 GMT
- request:
    method: head
    uri: https://customers.netapp.com/en/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/customers/
  recorded_at: Thu, 02 Mar 2023 02:12:29 GMT
- request:
    method: head
    uri: https://mysupport.netapp.com/documentation/docweb/index.html?productID=63374&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html;charset=UTF-8
      x-oracle-dms-ecid:
      - 9d0be3c7ffe3e488:-15776f67:186917b10a6:-8000-000000000006454f
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://mysupport.netapp.com/documentation/docweb/index.html?productID=63374&language=en-US
  recorded_at: Thu, 02 Mar 2023 02:12:29 GMT
- request:
    method: head
    uri: https://www.netapp.com/company/legal/cookie-policy/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-akam-sw-version:
      - 0.5.0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.netapp.com/company/legal/cookie-policy/
  recorded_at: Thu, 02 Mar 2023 02:12:30 GMT
- request:
    method: head
    uri: https://mysupport.netapp.com/documentation/productlibrary/index.html?productID=61023&archive=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html;charset=UTF-8
      x-oracle-dms-ecid:
      - 9d0be3c7ffe3e488:-15776f67:186917b10a6:-8000-0000000000064551
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://mysupport.netapp.com/documentation/productlibrary/index.html?productID=61023&archive=true
  recorded_at: Thu, 02 Mar 2023 02:12:30 GMT
- request:
    method: head
    uri: https://community.netapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://community.netapp.com/
  recorded_at: Thu, 02 Mar 2023 02:12:30 GMT
- request:
    method: head
    uri: https://cloud.netapp.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=UTF-8
      etag:
      - W/"0bec3cbd254bd698a8efefd70d3ccf9e"
      last-modified:
      - Mon, 27 Feb 2023 11:54:22 GMT
      link:
      - "</hs/hsstatic/HubspotToolsMenu/static-1.154/js/index.js>; rel=preload; as=script,</hs/hsstatic/cos-i18n/static-1.53/bundles/project.js>;
        rel=preload; as=script"
      edge-cache-tag:
      - CT-88139867809,CT-91540621693,CT-91540621701,CT-91540621705,CT-91540621708,P-525875,W-1662046234398,W-1662637690034,W-1662646286208,W-1662730080492,W-1670273620623,W-1672676867401,CW-83668318869,CW-84017148248,CW-84020306105,CW-84310752266,CW-84324796546,CW-84437629332,CW-85034688429,CW-88685523460,CW-97139556934,E-47882098007,E-56778788163,E-83652687008,E-83669813433,E-84022661012,E-84173520477,E-84173942881,E-84210106474,E-84310312067,E-84324382526,E-84324707605,E-84437649446,E-85034902804,PGS-ALL,SW-2,GC-86778475860,GC-89393348176,GC-89592173708
      x-hs-cache-config:
      - BrowserCache-5s-EdgeCache-0s
      x-hs-cache-control:
      - s-maxage=10800, max-age=0
      x-hs-cf-cache-status:
      - REVALIDATED
      x-hs-content-id:
      - '88139867809'
      x-hs-hub-id:
      - '525875'
      x-hs-prerendered:
      - two-phase;Mon, 27 Feb 2023 11:54:21 GMT
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://bluexp.netapp.com/
  recorded_at: Thu, 02 Mar 2023 02:12:30 GMT
recorded_with: VCR 2.9.3
