---
http_interactions:
- request:
    method: head
    uri: https://www.asdo3IRJ395295jsingrkrg4.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 0
      message:
    headers: {}
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.asdo3IRJ395295jsingrkrg4.com/
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: http://www.asdo3IRJ395295jsingrkrg4.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 0
      message:
    headers: {}
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: http://www.asdo3IRJ395295jsingrkrg4.com/
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/css; charset=utf-8
      etag:
      - W/"5f7b5b5f-e7d0"
      last-modified:
      - Mon, 05 Oct 2020 17:43:59 GMT
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/javascript; charset=utf-8
      etag:
      - W/"5eb03fa9-4f71"
      last-modified:
      - Mon, 04 May 2020 16:15:37 GMT
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://assets-cdn.github.com/assets/frameworks-5b61aadc846f0818981ceec31b49c475fb084c163fdec5efbc2c21ef539092a9.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - '"5e6d6874-239b"'
      x-fastly-request-id:
      - 33cd7ff8eae4a11672c1ae47b5569108a19006a7
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://assets-cdn.github.com/assets/frameworks-5b61aadc846f0818981ceec31b49c475fb084c163fdec5efbc2c21ef539092a9.css
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://rtyley.github.io/bfg-repo-cleaner/#usage
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      last-modified:
      - Sun, 21 Mar 2021 22:37:56 GMT
      etag:
      - '"6057cac4-4071"'
      x-proxy-cache:
      - MISS
      x-fastly-request-id:
      - a5f4c578ab5e77466193e7d36aa8db289e751f90
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://rtyley.github.io/bfg-repo-cleaner/#usage
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://jekyllrb.com/docs/configuration/#markdown-options
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-origin-cache:
      - HIT
      last-modified:
      - Thu, 30 Dec 2021 22:31:10 GMT
      etag:
      - '"61ce332e-336b"'
      x-proxy-cache:
      - MISS
      x-fastly-request-id:
      - f633174faa4e256d16ae3f23d0cdafaf0d33c2b7
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://jekyllrb.com/docs/configuration/#markdown-options
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/css; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://reflect-io-packages.s3.amazonaws.com/reflect-agent/reflect-agent_0.4.6-1~bpo7%2B1.290_amd64.deb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      x-amz-request-id:
      - M1MD9PB70EP2XDY2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://reflect-io-packages.s3.amazonaws.com/reflect-agent/reflect-agent_0.4.6-1~bpo7%2B1.290_amd64.deb
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.google.com/
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://en.wikipedia.org/wiki/Phase-locked_loop#Clock_generation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-language:
      - en
      last-modified:
      - Thu, 30 Dec 2021 22:36:16 GMT
      content-type:
      - text/html; charset=UTF-8
      x-client-ip:
      - 45.144.113.216
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://en.wikipedia.org/wiki/Phase-locked_loop#Clock_generation
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/javascript; charset=utf-8
      cdn-pullzone:
      - '252412'
      cdn-uid:
      - b1941f61-b576-4f40-80de-5677acb38f74
      cdn-requestcountrycode:
      - US
      cdn-edgestorageid:
      - '674'
      - '718'
      - '718'
      last-modified:
      - Mon, 25 Jan 2021 22:04:06 GMT
      cdn-cachedat:
      - '2021-06-08 05:11:08'
      cdn-requestpullsuccess:
      - 'True'
      cdn-requestpullcode:
      - '200'
      cdn-requestid:
      - 9f2c3ff8399049bdc38b4bbb83cbef8a
      cdn-status:
      - '200'
      cdn-cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://docs.github.com/en/search-github/searching-on-github/searching-issues-and-pull-requests#no
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      x-ratelimit-limit:
      - '250'
      x-ratelimit-remaining:
      - '249'
      x-ratelimit-reset:
      - '1640939035'
      etag:
      - '"5240c-XSa+tJ7WzOTftWXE+AwjWNJo7VI"'
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.github.com/en/search-github/searching-on-github/searching-issues-and-pull-requests#no
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://fofofo.biz.woo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 0
      message:
    headers: {}
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://fofofo.biz.woo/
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://twitter.com/erjosito
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      expiry:
      - Tue, 31 Mar 1981 05:00:00 GMT
      content-type:
      - text/html; charset=utf-8
      last-modified:
      - Fri, 31 Dec 2021 08:22:54 GMT
      x-response-time:
      - '61'
      x-connection-hash:
      - 74e6ba4bb123dc857dc48e6924d5d9378340bbf37c6534deeb061456142bb942
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://twitter.com/erjosito
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://twitter.com/reddobowen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      expiry:
      - Tue, 31 Mar 1981 05:00:00 GMT
      content-type:
      - text/html; charset=utf-8
      last-modified:
      - Fri, 31 Dec 2021 08:22:54 GMT
      x-response-time:
      - '62'
      x-connection-hash:
      - 366066fee493d4319a2e4233922924099d91e02beb372763e028d4f92be03bb9
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://twitter.com/reddobowen
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://deploy-preview-44--hugo-community.netlify.app/community/images/cloud-with-chris.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-nf-request-id:
      - 01FR7SBBH920HNVZJMF78KN82P
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://deploy-preview-44--hugo-community.netlify.app/community/images/cloud-with-chris.png
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://deploy-preview-44--hugo-community.netlify.app/community/images/cloudtrooper.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-nf-request-id:
      - 01FR7SBBHA1MRCETCY68168RDC
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://deploy-preview-44--hugo-community.netlify.app/community/images/cloudtrooper.jpg
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://deploy-preview-44--hugo-community.netlify.app/community/index.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-nf-request-id:
      - 01FR7SBBHBR59585XQDTFRH0YT
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://deploy-preview-44--hugo-community.netlify.app/community/index.xml
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://deploy-preview-44--hugo-community.netlify.app/sitemap.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-nf-request-id:
      - 01FR7SBBHBX96YQJ758Z68TWD0
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://deploy-preview-44--hugo-community.netlify.app/sitemap.xml
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://deploy-preview-44--hugo-community.netlify.app
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-nf-request-id:
      - 01FR7SBBHBQE5FFY2HN1SCAZCN
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://deploy-preview-44--hugo-community.netlify.app/
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://deploy-preview-44--hugo-community.netlify.app/img/speakers/chris-reddington.jpg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-nf-request-id:
      - 01FR7SBBH9F1NPKPJ1FEFR6HA3
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://deploy-preview-44--hugo-community.netlify.app/img/speakers/chris-reddington.jpg
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://developers.google.com/university
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      last-modified:
      - Wed, 20 May 2015 15:22:03 GMT
      content-type:
      - text/html; charset=utf-8
      x-cloud-trace-context:
      - d307a9188d3d6eaa27c4a6379b5c73ee
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://developers.google.com/university
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://github.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      content-language:
      - en-US
      etag:
      - W/"19e6cb34a1454296efaa1e9a79591cac"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://www.github.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      content-language:
      - en-US
      etag:
      - W/"19e6cb34a1454296efaa1e9a79591cac"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://github.com/gjtorikian/html-proofer/blob/19c55fdbf4cd2d35c037ffc864681f4d7b2c0a3d/Rakefile#L14-L29
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"4ce7582198fad69b77ef22d356de1b41"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/gjtorikian/html-proofer/blob/19c55fdbf4cd2d35c037ffc864681f4d7b2c0a3d/Rakefile#L14-L29
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://github.com/typhoeus/typhoeus#other-curl-options
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"139330ed508b2dce1062e9f20ee64b40"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/typhoeus/typhoeus#other-curl-options
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://github.com/typhoeus/typhoeus#top
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"139330ed508b2dce1062e9f20ee64b40"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/typhoeus/typhoeus#top
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://github.com/chrisreddington/hugo-community/edit/main/exampleSite/content/community/_index.en.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"c6de504fbe82e5e6750d1f3b3fb931f0"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fchrisreddington%2Fhugo-community%2Fedit%2Fmain%2FexampleSite%2Fcontent%2Fcommunity%2F_index.en.md
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://en.wikipedia.org/wiki/Coup_d%27%C3%A9tat
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-language:
      - en
      last-modified:
      - Thu, 30 Dec 2021 23:27:02 GMT
      content-type:
      - text/html; charset=UTF-8
      x-client-ip:
      - 45.144.113.216
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://en.wikipedia.org/wiki/Coup_d%27%C3%A9tat
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://travel.state.gov/content/dam/passports/FIG_cropper.swf#
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://travel.state.gov/content/dam/passports/FIG_cropper.swf
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://github.com/arturoherrero/yarr/blob/v0.0.1/spec/lib/interpreter_spec.rb#L22-L26
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"cc21d1742880fc03a97ffdf332d2f730"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/arturoherrero/yarr/blob/v0.0.1/spec/lib/interpreter_spec.rb#L22-L26
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://github.com/chrisreddington/hugo-community
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"b5c1ea5c5122e73781e6747e614bd719"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/chrisreddington/hugo-community
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://github.com/gjtorikian/html-proofer/blob/master/Rakefile#L14-L29
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"17b1f887caec12388936a66c0003901a"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/gjtorikian/html-proofer/blob/main/Rakefile
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://www.youtube.com/c/CloudWithChris
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.youtube.com/c/CloudWithChris
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://ben.balter.com/2014/09/29/source-disclosed-%E2%89%A0-open-source/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      last-modified:
      - Fri, 17 Dec 2021 12:55:38 GMT
      x-proxy-cache:
      - MISS
      x-fastly-request-id:
      - 1ba353ab80676a4414a284f45e4a1a9ecf5face6
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://ben.balter.com/2014/09/29/source-disclosed-%E2%89%A0-open-source/
  recorded_at: Fri, 31 Dec 2021 08:22:54 GMT
- request:
    method: head
    uri: https://help.github.com/articlezzz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      x-ratelimit-limit:
      - '250'
      x-ratelimit-remaining:
      - '248'
      x-ratelimit-reset:
      - '1640939028'
      etag:
      - '"1ca3-zc//cDgg3IZfq4m7xcsWO1MaNX8"'
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.github.com/articlezzz
  recorded_at: Fri, 31 Dec 2021 08:22:55 GMT
- request:
    method: head
    uri: https://github.com/chrisreddington/hugo-community/commit/d142b3b713255f9b9a31fd08db5031fd6e8389f9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      x-pjax-url:
      - https://github.com/chrisreddington/hugo-community/commit/d142b3b713255f9b9a31fd08db5031fd6e8389f9
      x-voltron-version:
      - baaadcb
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/chrisreddington/hugo-community/commit/d142b3b713255f9b9a31fd08db5031fd6e8389f9
  recorded_at: Fri, 31 Dec 2021 08:22:55 GMT
- request:
    method: head
    uri: https://github.com/octocat/Spoon-Knife/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"5787ae8a9b96c4db1a65b22b93c4ac5e"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/octocat/Spoon-Knife/issues
  recorded_at: Fri, 31 Dec 2021 08:22:55 GMT
- request:
    method: head
    uri: https://github.com/gjtorikian/html-proofer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"22952cd8221c1a62aba32f5fc821d832"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/gjtorikian/html-proofer
  recorded_at: Fri, 31 Dec 2021 08:22:55 GMT
- request:
    method: get
    uri: https://assets-cdn.github.com/assets/frameworks-5b61aadc846f0818981ceec31b49c475fb084c163fdec5efbc2c21ef539092a9.css
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - '"5e6d6874-239b"'
      x-fastly-request-id:
      - a25661389a7c4c0b024b7da796aac908e52f5359
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html>
        <html>
          <head>
            <meta http-equiv="Content-type" content="text/html; charset=utf-8">
            <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src 'unsafe-inline'; img-src data:; connect-src 'self'">
            <title>Site not found &middot; GitHub Pages</title>
            <style type="text/css" media="screen">
              body {
                background-color: #f1f1f1;
                margin: 0;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              }

              .container { margin: 50px auto 40px auto; width: 600px; text-align: center; }

              a { color: #4183c4; text-decoration: none; }
              a:hover { text-decoration: underline; }

              h1 { width: 800px; position:relative; left: -100px; letter-spacing: -1px; line-height: 60px; font-size: 60px; font-weight: 100; margin: 0px 0 50px 0; text-shadow: 0 1px 0 #fff; }
              p { color: rgba(0, 0, 0, 0.5); margin: 20px 0; line-height: 1.6; }

              ul { list-style: none; margin: 25px 0; padding: 0; }
              li { display: table-cell; font-weight: bold; width: 1%; }

              .logo { display: inline-block; margin-top: 35px; }
              .logo-img-2x { display: none; }
              @media
              only screen and (-webkit-min-device-pixel-ratio: 2),
              only screen and (   min--moz-device-pixel-ratio: 2),
              only screen and (     -o-min-device-pixel-ratio: 2/1),
              only screen and (        min-device-pixel-ratio: 2),
              only screen and (                min-resolution: 192dpi),
              only screen and (                min-resolution: 2dppx) {
                .logo-img-1x { display: none; }
                .logo-img-2x { display: inline-block; }
              }

              #suggestions {
                margin-top: 35px;
                color: #ccc;
              }
              #suggestions a {
                color: #666666;
                font-weight: 200;
                font-size: 14px;
                margin: 0 10px;
              }

            </style>
          </head>
          <body>

            <div class="container">

              <h1>404</h1>
              <p><strong>There isn't a GitHub Pages site here.</strong></p>

              <p>
                If you're trying to publish one,
                <a href="https://help.github.com/pages/">read the full documentation</a>
                to learn how to set up <strong>GitHub Pages</strong>
                for your repository, organization, or user account.
              </p>

              <div id="suggestions">
                <a href="https://githubstatus.com">GitHub Status</a> &mdash;
                <a href="https://twitter.com/githubstatus">@githubstatus</a>
              </div>

              <a href="/" class="logo logo-img-1x">
                <img width="32" height="32" title="" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbn[...]
- request:
    method: head
    uri: https://www.whatthehell
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 0
      message:
    headers: {}
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.whatthehell/
  recorded_at: Fri, 31 Dec 2021 08:22:55 GMT
- request:
    method: get
    uri: https://reflect-io-packages.s3.amazonaws.com/reflect-agent/reflect-agent_0.4.6-1~bpo7%2B1.290_amd64.deb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      x-amz-request-id:
      - BA3MS51R4B7FD4MQ
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>AllAccessDisabled</Code><Message>All access to this object has been disabled</Message><RequestId>BA3MS51R4B7FD4MQ</RequestId><HostId>P9G2UiAx5RutF3pJCVxKacJh8LhMkm+Kv1TuNj7sdgaOFY/Q9lxX0++9awbjrDB9OfnPxr73xbw=</HostId></Error>
      effective_url: https://reflect-io-packages.s3.amazonaws.com/reflect-agent/reflect-agent_0.4.6-1~bpo7%2B1.290_amd64.deb
  recorded_at: Fri, 31 Dec 2021 08:22:55 GMT
- request:
    method: head
    uri: https://www.kakakakakaakkakakakakakakaakakak.biz.foo.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 0
      message:
    headers: {}
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://www.kakakakakaakkakakakakakakaakakak.biz.foo.net/
  recorded_at: Fri, 31 Dec 2021 08:22:55 GMT
[...]
- request:
    method: head
    uri: https://docs.q-ctrl.com/control-operations#m%C3%B8lmer-s%C3%B8rensen-drive
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: ''
    headers:
      content-type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://docs.q-ctrl.com/control-operations#m%C3%B8lmer-s%C3%B8rensen-drive
  recorded_at: Fri, 31 Dec 2021 08:22:55 GMT
[...]
- request:
    method: head
    uri: https://github.com/github/repository-sync
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      etag:
      - W/"3f6f8c401edc418ca7b2245af5d931a2"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/gjtorikian/repository-sync
  recorded_at: Fri, 31 Dec 2021 08:22:55 GMT
[...]
- request:
    method: head
    uri: http://baseurl.com/gpl.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 0
      message:
    headers: {}
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: http://baseurl.com/gpl.png
  recorded_at: Fri, 31 Dec 2021 08:22:55 GMT
[...]
- request:
    method: head
    uri: https://deploy-preview-44--hugo-community.netlify.app/groups/
    body:
      encoding: US-ASCII
[...]
