---
http_interactions:
- request:
    method: head
    uri: http://docs.github.com/en/get-started/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      X-Ratelimit-Limit:
      - '250'
      X-Ratelimit-Remaining:
      - '249'
      X-Ratelimit-Reset:
      - '1640968722'
      Location:
      - "/en/get-started"
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: http://docs.github.com/en/get-started/
  recorded_at: Fri, 31 Dec 2021 16:37:41 GMT
- request:
    method: head
    uri: http://gjtorikian.github.io/mathematical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - http://www.gjtorikian.com/mathematical/
      X-Fastly-Request-ID:
      - 426bfc25aac9369618ac1ca60aa9f9f3c578b029
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: http://gjtorikian.github.io/mathematical/
  recorded_at: Fri, 31 Dec 2021 16:37:41 GMT
- request:
    method: get
    uri: http://gjtorikian.github.io/mathematical/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - http://www.gjtorikian.com/mathematical/
      X-Fastly-Request-ID:
      - 78c84346dfc830b515e5cdb237533b73a666eeb4
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
      effective_url: http://gjtorikian.github.io/mathematical/
  recorded_at: Fri, 31 Dec 2021 16:37:41 GMT
[...]
- request:
    method: head
    uri: https://github.com/github/repository-sync
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      location:
      - https://github.com/gjtorikian/repository-sync
    body:
      encoding: ASCII-8BIT
      string: ''
      effective_url: https://github.com/github/repository-sync
  recorded_at: Fri, 31 Dec 2021 16:37:41 GMT
- request:
    method: get
    uri: https://github.com/github/repository-sync
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: ''
    headers:
      content-type:
      - text/html; charset=utf-8
      location:
      - https://github.com/gjtorikian/repository-sync
    body:
      encoding: ASCII-8BIT
      string: <html><body>You are being <a href="https://github.com/gjtorikian/repository-sync">redirected</a>.</body></html>
      effective_url: https://github.com/github/repository-sync
  recorded_at: Fri, 31 Dec 2021 16:37:41 GMT
recorded_with: VCR 2.9.3
